# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/
ENV/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Test results
*.coverage
coverage/

# Python packaging
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Secrets 
*.env
